<app-slide>


</app-slide>

<div class="container mt-5">
    <div class="row pt-3">

        <h1 style="font-family: 'Parisienne', cursive; font-size: 60px; text-align: center; color: white;" class="mt-3"><img src="./assets/images/logo-2-nav-bar.png" alt="">Contacto</h1>
    </div>

    <div class="row input-container">
        <div class="col-xs-12">
            <div class="styled-input wide">
                <input type="text" required />
                <label>Nombre</label>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="styled-input">
                <input type="text" required />
                <label>Email</label>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="styled-input" style="float:right;">
                <input type="text" required />
                <label>Numero de Telefono</label>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="styled-input wide">
                <textarea required></textarea>
                <label>Mensaje</label>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="btn-lrg submit-btn">Enviar Mensaje</div>
        </div>
    </div>
</div>
