.swiper-container {
    width: 100%;
    height: 500px;
    display: inline-block;
    margin: auto;
}

img {
    height: auto !important;
    top: -50%;
    width: 100%;
    left: auto;
    margin: auto;
    right: auto;
    bottom: -50%;
    position: absolute;
}
