<div class="container pt-5 mt-5">
    <div class="title">
        <h2>Formulario de Envio</h2>
    </div>
    <div class="d-flex">
        <form action="" method="">
            <label>
        <span class="fname">Nombre<span class="required">*</span></span>
        <input type="text" name="fname">
      </label>
            <label>
        <span class="lname">Apellido<span class="required">*</span></span>
        <input type="text" name="lname">
      </label>
            <label>
        <!-- <span>Company Name (Optional)</span>
        <input type="text" name="cn"> -->
      </label>
            <label>
        <span>Provincia <span class="required">*</span></span>
        <select name="selection">
          <option value="select">Provincia...</option>
          <option value="AFG">Buenos Aires</option>

        </select>
      </label>
            <label>
        <span>Direccion<span class="required">*</span></span>
        <input type="text" name="houseadd" placeholder="Numero" required>
      </label>
            <label>
        <span>&nbsp;</span>
        <input type="text" name="apartment" placeholder="Direccion">
      </label>
            <label>
        <span>Ciudad<span class="required">*</span></span>
        <input type="text" name="city">
      </label>
            <label>
        <span>Provincia<span class="required">*</span></span>
        <input type="text" name="city">
      </label>
            <label>
        <span>Codigo Postal<span class="required">*</span></span>
        <input type="text" name="city">
      </label>
            <label>
        <span>Numero Telefono<span class="required">*</span></span>
        <input type="tel" name="city">
      </label>
            <label>
        <span>Email<span class="required">*</span></span>
        <input type="email" name="city">
      </label>
        </form>
        <div class="Yorder">
            <table>
                <tr>
                    <th colspan="4">Fotos</th>
                </tr>
                <tr>
                    <td>Cantidad de Fotos</td>
                    <td>$88.00</td>
                </tr>
                <tr>
                    <td>Subtotal</td>
                    <td>$88.00</td>
                </tr>
                <tr>
                    <!-- <td>Shipping</td>
                    <td>Free shipping</td> -->
                </tr>

            </table><br>
            <div>
                <input type="radio" name="dbt" value="dbt" checked> Transferencia bancaria directa
            </div>
            <p>
                Realice su pago directamente en nuestra cuenta bancaria. Utilice su ID de pedido como referencia de pago. Su pedido no se enviará hasta que los fondos se hayan liquidado en nuestra cuenta.
            </p>
            <div>
                <input type="radio" name="dbt" value="cd"> Contra reembolso
            </div>
            <div>
                <input type="radio" name="dbt" value="cd"> Paypal <span>
          <img src="https://www.logolynx.com/images/logolynx/c3/c36093ca9fb6c250f74d319550acac4d.jpeg" alt=""
            width="50">
        </span>
            </div>
            <div>
                <input type="radio" name="dbt" value="cd">Descuentos y ofertas
            </div>

            <button type="button">Aplicacion de Ofertas</button>
            <button type="button">Realizar Pedidos</button>

        </div>
        <!-- Yorder -->
    </div>
</div>