.carousel {
    margin-top: 66px;
}

.carousel-item.active {
    height: 400px;
}

.carousel-item.active img {
    height: auto !important;
    top: -50%;
    left: auto;
    margin: auto;
    right: auto;
    bottom: -50%;
    position: absolute;
}

@media screen and (max-width: 400px) {
    .carousel-item.active img {
        height: auto !important;
        top: -50%;
        left: auto;
        margin: auto;
        right: auto;
        bottom: -50%;
        position: absolute;
    }
}


/* Para 320px */

@media only screen and (max-width: 340px) and (min-width: 5px) {
    .carousel-item.active img {
        height: auto !important;
        top: -50%;
        left: auto;
        margin: auto;
        right: auto;
        bottom: -50%;
        position: absolute;
    }
}