<div class="modal-content">
  <div class="modal-header ">
    <h4 class="modal-title pull-left"></h4>
    <button type="button" class="close pull-right" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" *ngIf="fakeCart.length">
  <img src="{{'//www.juanschtrefotografo.com/' +   fakeCart[0].foto.filename}}" alt="" />
    <!-- tipos -->
    <form [formGroup]="MainForm">

      <button class="btn  option" type="button" title="Agregar  Opciones" (click)="addOptionForm()"><fa-icon [icon]="copyIcon"></fa-icon></button>

      <ng-container  >
        <div *ngFor="let itemCart of fakeCart; let i = index">
          <div formArrayName="optionselect">
            <select class="type" [(ngModel)]="itemCart.digital"  [ngModelOptions]="{standalone: true}" name="digital" (change)="typeChange($event, [i])">
              <option [value]="1" ngDefaultControl>Digital</option>
              <option [value]="0" ngDefaultControl>Impresa</option>
            </select>
            <select class="size inputHidden" [ngModelOptions]="{standalone: true}" [(ngModel)]="itemCart.size"
              name="size">

              <option ngDefaultControl *ngFor="let item of selecteSize | keyvalue ; let i = index" [ngValue]="item.value">{{item.value}}
              </option>
            </select>
            <input class="size inputHidden"  [ngModelOptions]="{standalone: true}" ngDefaultControl type="number"
              [(ngModel)]="itemCart.cantidad" name="cantidad" [value]="itemCart.cantidad">
            <button type="button" class="btn trash" ngDefaultControl (click)="opdenDialogConfirm(i)" >
              <fa-icon [icon]="googleIcon"></fa-icon>
            </button>
          </div>
          <!-- <pre>
             {{ form?.value | json }}
          </pre> -->
        </div>
      </ng-container>
    </form>

    <p>Total :</p>
    <!-- <button (click)="addToCart(foto)"></button> -->
    <button class="btn  addcart" (click)="addToCartFoto(fakeCart)">Agregar al Carrito</button>
  </div>

</div>
