<div class="modal-content">
    <div class="modal-header ">
        <h4 class="modal-title pull-left"></h4>
        <button type="button" class="close pull-right" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body" *ngIf="itemCart">
        <img src="{{'//www.juanschtrefotografo.com/' +   itemCart.foto.filename}}" alt="" />
        <!-- tipos -->


        <form action="">

            <select class=" type" (change)="typeChange($event)">
                <option value="1" >Digital</option>
                <option value="0" >Impresa</option>
            </select>
            <select class=" size inputHidden">
                <option value="">{{itemCart.size[0]}}</option>
                <option value="">{{itemCart.size[1]}}</option>
                <option value="">{{itemCart.size[2]}}</option>
            </select>
            <input type="number" class="inputHidden cantidad" [(ngModel)]="itemCart.cantidad" name="cantidad" [value]="itemCart.cantidad">
        </form>

        <p>Total :</p>

        <!-- <button (click)="addToCart(foto)"></button> -->
        <button class="btn btn-primary" (click)="addToCartFoto(this.itemCart)">Agregar al Carrito</button>
    </div>

</div>
