<div class="container mt-5">
    <!--   <div class="card card-block mb-2">
      <h4 class="card-title">Card 1</h4>
      <p class="card-text">Welcom to bootstrap card styles</p>
      <a href="#" class="btn btn-primary">Submit</a>
    </div>   -->
    <div class="row">
        <div class="col-md-3 col-sm-6 mt-3" *ngFor="let item of images">
            <div class="card card-block">

                <img [src]="item" alt="Photo of sunset">
                <h5 class="card-title mt-3 mb-3">Sierra Web Development • Owner</h5>
                <p class="card-text">This is a company that builds websites, web apps and e-commerce solutions.</p>
            </div>
        </div>

    </div>

</div>
