<!-- Navbar -->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar">
    <div class="container">

        <!-- Brand -->
        <a class="navbar-brand" href="">
            <img src="./assets/images/logo-2-nav-bar.png" alt="">
        </a>

        <!-- Collapse -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

        <!-- Links -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <!-- Left -->
            <ul class="navbar-nav mr-auto">

                <li class="nav-item">
                    <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/eventos" routerLinkActive="active">Eventos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/contact" routerLinkActive="active">Contacto</a>
                </li>
                <li>
                    <a class="nav-link" routerLink="/carrito" routerLinkActive="active">

                        <fa-icon [icon]="googleIcon"></fa-icon><span class="badge badge-pill mt-1">{{total}}</span>


                    </a>
                </li>
            </ul>



        </div>

    </div>
</nav>
<!-- Navbar -->
