<app-slide></app-slide>

<div class="container mt-5 pb-5" infiniteScroll [infiniteScrollDistance]="2" (scrolled)="onScroll()">
    <!--   <div class="card card-block mb-2">
      <h4 class="card-title">Card 1</h4>
      <p class="card-text">Welcom to bootstrap card styles</p>
      <a href="#" class="btn btn-primary">Submit</a>
    </div>   -->

    <div>
        <h2 style="font-family: 'Parisienne', cursive; font-size: 60px; text-align: center;">Eventos </h2>
    </div>
    <div class="row">

        <app-event class=" col-md-3 col-sm-6 mt-3" *ngFor="let evento of eventos" (eventClicked)="clickEvent($event)" [evento]="evento">

        </app-event>

    </div>

    <div class="container" infiniteScroll [infiniteScrollDistance]="2" (scrolled)="onScroll()">
        <h1 style="text-align: center">INFINITE SCROLL EXAMPLE</h1>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col"><strong>TEXT</strong></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let line of linesToWrite; index as i">
                    <th scope="row">{{i}}</th>
                    <th scope="row">{{line}}</th>
                </tr>
            </tbody>
        </table>
    </div>
</div>