<app-slide>
</app-slide>
<div class="container mt-5">
    <!--   <div class="card card-block mb-2">
      <h4 class="card-title">Card 1</h4>
      <p class="card-text">Welcom to bootstrap card styles</p>
      <a href="#" class="btn btn-primary">Submit</a>
    </div>   -->

    <div>
        <h2 style="font-family: 'Parisienne', cursive; font-size: 60px; text-align: center;">Eventos </h2>
    </div>
    <div class="row">

        <app-event class="col-md-3 col-sm-6 mt-3" *ngFor="let evento of eventos" (eventClicked)="clickEvent($event)" [evento]="evento">
        </app-event>

    </div>

</div>