<!-- <div class="container mt-4">
    <div class="row">
        <div class="card col-auto mb-3" style="width: 18rem;" *ngFor="let key of Object.keys(cart) ">
            <img class="card-img-top" src="{{ '//www.juanschtrefotografo.com/'  + cart[key].foto.filename}}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title"><input type="number" (change)="updateCartItem($event , this.key  )" attr.data-key="{{key}}" value="{{cart[key].cantidad}}"> fotos de {{cart[key].size}}</h5>

            </div>
        </div>

    </div>
</div> -->
<div class="body">
    <div class="box">
        <div class="card" *ngFor="let key of Object.keys(cart)">
            <div class="imgBx">
                <img src="{{ '//www.juanschtrefotografo.com/'  + cart[key].foto.filename}}" alt="images">
            </div>
            <div class="details">
                <h5 class="card-title"><input type="number" (change)="updateCartItem($event , this.key  )" attr.data-key="{{key}}" value="{{cart[key].cantidad}}"> fotos de {{cart[key].size}}</h5>
                <!-- <h2>SomeOne Famous<br><span>Director</span></h2> -->
            </div>
        </div>



    </div>
</div>
