

<div class="container px-4 py-5 mx-auto mt-5">
    <div class="row d-flex justify-content-center">
        <div class="col-5">
            <h4 class="heading">Carrito</h4>
        </div>
        <div class="col-7">
            <div class="row text-right">
                <div class="col-4">
                    <h6 class="mt-2">Formato</h6>
                </div>
                <div class="col-4">
                    <h6 class="mt-2">Cantidad</h6>
                </div>
                <div class="col-4">
                    <h6 class="mt-2">Precio</h6>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="cart.length==0" style="min-height: 500px;">
        <div id="notfound">
            <div class="notfound">
                <div class="notfound-404">
                    <h3>Oops! No se Enontraron Items</h3>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="cart.length >= 1">

        <div class="row d-flex justify-content-center border-top" *ngFor="let key of Object.keys(cart); let i = index">
            <div class="col-5">
                <div class="row d-flex box">
                    <div class="card ">
                        <div class="imgBx">
                            <img src="{{ '//www.juanschtrefotografo.com/'  + cart[key].foto.filename}}" class="images">
                            <button class="btncopias btn btn-primary" (click)="cartOpenModal(cart[key].foto)" title="Modificar Cantidad de copias">Modificar copias</button>
                        </div>

                    </div>
                    <div class="my-auto flex-column d-flex pad-left">
                        <h6 class="mob-text"></h6>
                        <p class="mob-text"></p>
                    </div>
                </div>
            </div>
            <div class="my-auto col-7">
                <div class="row text-right">
                    <div class="col-4">
                        <p class="mob-text" *ngIf="cart[key].digital == false">{{impresa}}</p>
                        <p class="mob-text" *ngIf="cart[key].digital == true">{{digital}}</p>
                        <p class="mob-text" *ngIf="cart[key].digital == false">Fotos de {{cart[key].size}}</p>
                    </div>
                    <div class="col-4">
                        <div class="row d-flex justify-content-end px-3">
                            <p class="mb-0" id="cnt1" *ngIf="cart[key].digital == false"><input type="number" min="1" (change)="updateCartItem($event , this.key  )" attr.data-key="{{key}}" value="{{cart[key].cantidad}}">
                            </p>
                            <h5 class="card-titledos">
                            </h5>
                        </div>
                    </div>
                    <div class="col-4">
                        <h6 class="mob-text">$9.99</h6>

                    </div>
                    <div class="col-4 mt-5 pl-5">


                        <button class="btn trash" (click)="opdenDialogConfirm(i)">
              <fa-icon [icon]="googleIcon"></fa-icon>
            </button>
                    </div>
                </div>
            </div>
        </div>
        <button class=" btn btn-blue " style="float: right;" routerLink="/formcompra">Comprar</button>

    </div>


</div>
