<app-slide></app-slide>
<!-- Photo Grid -->
<div class="row">
    <div class="column">
        <ng-container *ngFor="let foto of fotos; let i = index">
            <img *ngIf="i % 4 === 0" src="{{'//www.juanschtrefotografo.com/' + foto.filename }}" [attr.data-index]="i" alt="" style="width:100%" />
        </ng-container>
    </div>
    <div class="column">
        <ng-container *ngFor="let foto of fotos; let i = index">
            <img *ngIf="i % 4 === 1" src="{{'//www.juanschtrefotografo.com/' + foto.filename }}" [attr.data-index]="i" alt="" style="width:100%" />
        </ng-container>
    </div>
    <div class="column">
        <ng-container *ngFor="let foto of fotos; let i = index">
            <img *ngIf="i % 4 === 2" src="{{'//www.juanschtrefotografo.com/' + foto.filename }}" [attr.data-index]="i" alt="" style="width:100%" />
        </ng-container>
    </div>
    <div class="column">
        <ng-container *ngFor="let foto of fotos; let i = index">
            <img *ngIf="i % 4 === 3" src="{{'//www.juanschtrefotografo.com/' + foto.filename }}" [attr.data-index]="i" alt="" style="width:100%" />
        </ng-container>
    </div>
</div>

<div class="colum" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="onScroll()">

    <ng-container *ngFor="let foto of fotos; let i = index">
        <img *ngIf="fotos" src="{{'//www.juanschtrefotografo.com/' + foto.filename }}" alt="" style="width:100%" />
    </ng-container>

</div>
