<app-slide></app-slide>
<!-- Photo Grid -->
<div class="container-fluid">
    <div class="row no-gutters " infiniteScroll [infiniteScrollDistance]="2" (scrolled)="onScroll()" *ngIf="!isMobile">
        <div class="column">
            <ng-container *ngFor="let foto of fotosArray let i = index">
                <img *ngIf="i % 4 === 0" src="{{'//www.juanschtrefotografo.com/' + foto.filename }}" [attr.data-index]="i" alt="" style="width:100%" />
            </ng-container>
        </div>
        <div class="column">
            <ng-container *ngFor="let foto of fotosArray let i = index">
                <img *ngIf="i % 4 === 1" src="{{'//www.juanschtrefotografo.com/' + foto.filename }}" [attr.data-index]="i" alt="" style="width:100%" />
            </ng-container>
        </div>
        <div class="column">
            <ng-container *ngFor="let foto of fotosArray let i = index">
                <img *ngIf="i % 4 === 2" src="{{'//www.juanschtrefotografo.com/' + foto.filename }}" [attr.data-index]="i" alt="" style="width:100%" />
            </ng-container>
        </div>
        <div class="column">
            <ng-container *ngFor="let foto of fotosArray let i = index">
                <img *ngIf="i % 4 === 3" src="{{'//www.juanschtrefotografo.com/' + foto.filename }}" [attr.data-index]="i" alt="" style="width:100%" />
            </ng-container>
        </div>
    </div>

    <div class="row no-gutters" infiniteScroll [infiniteScrollDistance]="2" (scrolled)="onScroll()" *ngIf="isMobile">

        <div class="column">
            <ng-container *ngFor="let foto of fotosArray let i = index">
                <img src="{{'//www.juanschtrefotografo.com/' + foto.filename }}" [attr.data-index]="i" alt="" style="width:100%" />
            </ng-container>
        </div>

    </div>

</div>
